/* app css stylesheet */

body {
    padding:50px;
    font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#777;
    font-weight:300;
}

<<<<<<< HEAD
.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
=======
#pages {
    margin-top:5em;
>>>>>>> dc3a151856979f508ef20a8c95b18e603d0412f8
}

ul {
    padding: 10px;
}

ul.no-indent {
    padding: 0px;
}

li {
    list-style:none;
}

li.devices {
    font-size:16px;
    width:200px;
    height: 28px;
    list-style:none;
}

.no-style {
    list-style:none;
}

.device-label {
    float:left;
}

.device-value {
    width:50px;
    float:right;
}

.step-complete {
    text-decoration: line-through;
    color:red;
}

#methods {
    width: 400px;
}

.right-box {
    border-right: 1px solid #ddd;
}

.page-link {
    font-size:30px;
}


