<div class="row-fluid">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <div class="pull-left navbar-header">
          <a class="brand" href="#/">Gadgets</a>
          <a class="brand" href="#/history">History</a>
        </div>
        <div class="pull-right navbar-header">
        <a class="brand" ng-click="logout()" href="">Logout</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid gadgets-holder">
    <h3>{{name}}</h3>
    <div>
      <div class="span3">
        <div>
          <select ng-model="gadget" ng-click="connect()" ng-options="g.name for g in gadgets"></select><br>
        </div>
        <ul>
          <li class="gadgets" ng-repeat="(location, devices) in locations">
            <a>{{location}}</a>
            <ul>
              <li class="devices" ng-repeat="(device, data) in devices">
                <a>{{device}}</a>
                <span ng-if="data.info.direction == 'input'">
                  <a class="device-value">{{data.value.value | number:2}}
                </span>
                <span ng-if="data.info.direction == 'output'">
                  <button class="device-value"
                          ng-mousedown="getArguments(data)"
                          ng-mouseup="toggle(data)">{{data.value.value}}</button>
                </span>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="span9">
        <div ng-show="showMethods">
          <div>
            <a href="" ng-click="getRecipe()">get recipe</a><br/>
            <select
               ng-model="method"
               ng-click="clearDummyMethod()"
               ng-options="m.name for m in methods">
            </select>
            <br>
          </div>
          <span ng-if="method.steps.length==0">
            <a href="" ng-click="addMethod()">add method</a>
          </span>
          <span ng-if="method.steps.length>0">
            <a href="" ng-click="addMethod()">edit method</a>
            <a href="" ng-click="runMethod()">run method</a>
          </span>
          <ol>
            <li ng-repeat="step in method.steps track by $index">
              <a ng-class="{'step-complete': method.step>$index}">{{step}}</a>
            </li>
          </ol>
          <a ng-if="method.time>0">{{method.time}}</a>
        </div>
      </div>
    </div>

    <!-- <div modal="promptShouldBeOpen" close="closePrompt()" options="opts"> -->
    <!--   <div class="modal-header"> -->
    <!--     <h4>Send Command</h4> -->
    <!--   </div> -->
    <!--   <div class="modal-footer"> -->
    <!--     <form> -->
    <!--       <div class="left"> -->
    <!--         <a>{{currentCommand}} {{commandArgument}}</a> -->
    <!--       </div> -->
    <!--       <input ng-model="commandArgument"/>  -->
    <!--       <button class="btn btn-warning cancel" ng-click="sendCommand()">Send</button> -->
    <!--       <button class="btn btn-warning cancel" ng-click="closePrompt()">Cancel</button> -->
    <!--     </form> -->
    <!--   </div> -->
    <!-- </div> -->

    
    
    <!-- <div modal="arbitraryPromptShouldBeOpen" close="closeArbitraryPrompt()" options="opts"> -->
    <!--   <div class="modal-header"> -->
    <!--     <h4>Send Arbitrary Command</h4> -->
    <!--   </div> -->
    <!--   <div class="modal-footer"> -->
    <!--     <form> -->
    <!--       <div class="left"> -->
    <!--         <input ng-model="arbitraryCommand"/> -->
    <!--         <button class="btn btn-warning cancel" ng-click="sendArbitraryCommand()">Send</button> -->
    <!--         <button class="btn btn-warning cancel" ng-click="closeArbitraryPrompt()">Cancel</button> -->
    <!--     </form> -->
    <!--     </div> -->
    <!--   </div> -->
    <!-- </div> -->
  </div>
</div>

