<div>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <div class="pull-left navbar-header">
          <a class="brand" href="#/">Gadgets</a>
          <a class="brand" href="#/history">History</a>
        </div>
      </div>
    </div>
  </div>
  <div style="padding-top:40px">
    <h3>History</h3>
    <a ng-click="choose()">select</a><br/>
    <highchart id="chart1" config="chartConfig" class="span10"></highchart>
  </div>
</div>

