<div class="row-fluid">
  <ul>
    <li class="gadgets" ng-repeat="(location, devices) in locations">
      <a>{{location}}</a>
      <ul>
        <li class="devices" ng-repeat="(device, data) in devices">
          <a>{{device}}</a>
          <span ng-if="data.info.direction != 'output'">
            <a class="device-value">{{data.value.value | ifnumber}}
          </span>
          <span ng-if="data.info.direction == 'output'">
            <toggle-switch device="data"><toggle-switch>
                <!-- <button class="device-value" -->
                <!--     ng-mousedown="getArguments(data)" -->
                <!--     ng-mouseup="toggle(data)">{{data.value.value}}</button> -->
          </span>
        </li>
      </ul>
    </li>
  </ul>
</div>
