<div class="row-fluid">
  <ul>
    <li class="gadgets" ng-repeat="(location, devices) in locations">
      <a>{{location}}</a>
      <ul>
        <li class="devices" ng-repeat="(device, data) in devices">
          <a>{{device}}</a>
          <span ng-if="data.info.direction != 'output'">
            <a class="device-value">{{data.value.value | ifnumber}}</a>
          </span>
          <span ng-if="data.info.direction == 'output'">
            <toggle-switch device="data"></toggle-switch>
            <a class="device-value">{{data.value.output}}</a>
          </span>
        </li>
      </ul>
    </li>
  </ul>
</div>
