<div id="methods">
  <div ng-show="showMethods">
    <div>
      <a>methods</a>
      <br/>
      <select
         ng-model="method"
         ng-options="m.name for m in methods">
      </select>
      <br>
    </div>
    <span ng-if="method.steps == null">
      <a href="" ng-click="addMethod()">add</a>
      <a ng-show="recipesAvailable" href="" ng-click="getRecipe()">recipe</a>
    </span>
    <span ng-if="method.steps.length>0">
      <a href="" ng-click="runMethod()">run</a>
      <a href="" ng-click="addMethod()">edit</a>
      <a href="" ng-click="clearMethod()">clear</a>
      <a href="" ng-click="deleteMethod()">delete</a>
    </span>
    <hr/>
    <div>
      <div class="row" ng-repeat="step in method.steps track by $index">
        <div class="col-md-8">
          <a ng-class="{'step-complete': method.step>$index}">{{step}}</a>
        </div>
        <div class="col-md-4">
          <a ng-show="checkUserPrompt($index)" ng-click="confirm(step)">click to confirm</a>
        <a ng-if="method.time>0 && method.step==$index">{{method.time | countdown}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
