<div class="row-fluid">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a data-hover="dropdown" data-delay="1000" class="dropdown-toggle" data-toggle="dropdown">
              Gadgets <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li ng-repeat="gadget in gadgets">
                <a href="#/gadgets/{{gadget.name}}?host={{gadget.host}}">{{gadget.name}}</a>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a data-hover="dropdown" data-delay="1000" class="dropdown-toggle" data-toggle="dropdown">
              History <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li ng-repeat="gadget in gadgets">
                <a href="#/history/{{gadget.name}}">{{gadget.name}}</a>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="nav pull-right navbar-nav">
          <li ng-show="loggedIn">
            <a class="brand" ng-click="logout()" href="">log out {{$storage.username}}</a>
          </li>
          <li ng-hide="loggedIn">
            <a class="brand" ng-click="login()" href="">log in</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
