<div>
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Login</h3>
    <a class="error">{{message}}</a>
  </div>
  <div class="modal-body">
    <input placeholder="user name" ng-model="user.name" autocapitalize="off" autocorrect="off" auto-focus/><br/>
    <input placeholder="password" type="password" ng-model="user.password" ng-enter="ok()"/>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-enter="ok()" ng-click="ok()">Ok</button>
  </div>
</div>
