<div>
  <div class="modal-header">
    <h3>{{gadget.location}} {{gadget.name}}</h3>
  </div>
  <div class="modal-body">
    <select ng-model="gadget.pin.type" ng-change="select()">
      <option ng-repeat="(type, val) in types">{{type}}</option>
    </select>
    <select placeholder="units" ng-show="selectedType.units.length > 0" ng-model="gadget.units" ng-change="selectUnits()">
      <option ng-repeat="unit in selectedType.units">{{unit}}</option>
    </select>
    <br/>
    <input ng-model="gadget.location" placeholder="Location"/><br/>
    <input ng-model="gadget.name" placeholder="Name"/><br/>
    <span ng-repeat="(field, val) in selectedType.fields">
      <input placeholder="{{field}}"/><br/>
    </span>
    <span ng-repeat="(field, val) in selectedType.args">
      <input placeholder="{{field}}"/><br/>
    </span>
    <select ng-show="selectedType.pins != undefined" ng-model="gadget.pin.port">
      <option ng-repeat="(port, pins) in selectedType.pins">{{port}}</option>
    </select>
    <br/>
    <select ng-show="gadget.pin.port != undefined" ng-model="gadget.pin.pin">
      <option ng-repeat="(pin, x) in selectedType.pins[gadget.pin.port]">{{pin}}</option>
    </select>
    <br/>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
    <button type="button" class="btn btn-primary" ng-click="ok()">Save</button>
  </div>
</div>
